<div class="container">
  <div class="col-md-10">
    <form [formGroup]="userFormGroup" novalidate>
      <div class="form-group">
        <label for="" class="center-block">Name:
          <input class="form-control" formControlName="name">
        </label>
        <label for="" class="center-block">Email:
          <input class="form-control" formControlName="email">
        </label>
      </div>
      <div class="well well-lg" formGroupName="addresses">
        <h4>User address</h4>
        <div class="form-group">
          <label for="">Street:
            <input class="form-control" formControlName="street">
          </label>
        </div>
        <div class="form-group">
          <label for="">City:
            <input class="form-control" formControlName="city">
          </label>
        </div>
        <div class="form-group">
          <label for="">State:
            <select name="" id="" class="form-control" formControlName="state">
              <option *ngFor="let state of states" [value]="state">{{state}}</option>
            </select>
          </label>
        </div>
      </div>
    </form>
    <p>Form value: {{userFormGroup.value | json}}</p>
    <p>Form status: {{userFormGroup.status | json}}</p>
  </div>
</div>

